html
	head
		title= "Udawane Logowanie"
		style
			include ./style.css
	body
		h1 Prawdziwe logowanie do #[span Google] 
		
		h3 Wpisz login i hasło aby zalogować się do Goole
		body
		h1 Google+ login page app
		form(action="/auth/google")
			input(type="submit",value="Sign in")

			